
 #base{
     background-color: rgb(173, 223, 252);
     min-height: 100vh;
    width: 1540px;
    display:flex;
    
    justify-content: center;
 }
 #base h1{
    height:9%;
    width:1540px;
    
    margin-top:15px;
    background-color:rgb(27, 7, 91);
    
    color:white;
    text-transform:uppercase;
    font-size:2.5rem;
 }
 #base form{
     margin-top:11%;
 }
#base .btn{
    width:30%;
    height:150px;
    font-size:3rem;
    background-color:rgb(211, 148, 190);
    text-transform:uppercase;
    border-radius: 30px;
}
#base .btn:hover{
    background-color:rgb(27, 7, 91);
    color: white;
    
}
#base1{
    background-color: rgb(235, 160, 235);
    
    min-height: 100vh;
    width: 1540px;
    display:flex;
    
    justify-content: center;

}
#base1 h1{
    height:9%;
    width:1540px;
    
    margin-top:15px;
    background-color:rgb(27, 7, 91);
    
    color:white;
    text-transform:uppercase;
    font-size:2.5rem;
    
 }
 #base1 .btn{
    width:20%;
    height:50px;
    font-size:1rem;
    
    text-transform:uppercase;
    border-radius: 20px;
}
#base1 form{
    font-size: 1.5rem;;
    font-weight: 500;
}
#base1 .btn1{
    padding:7px 13px;
    background-color:rgb(27, 7, 91);
    color: white;
    
   
    

    
}
#base2{
    background-color: rgb(224, 240, 209);
    
    min-height: 100vh;
    width: 1540px;
    display:flex;
    
    justify-content: center;

}
#base2 h1{
    height:9%;
    width:1540px;
    
    margin-top:15px;
    background-color:rgb(27, 7, 91);
    
    color:white;
    text-transform:uppercase;
    font-size:2.5rem;
 }
 #base2 .btn{
    width:20%;
    height:50px;
    font-size:1rem;
    
    text-transform:uppercase;
    border-radius: 20px;
}
#base2 form{
    font-size: 1.5rem;;
    font-weight: 500;
}
#base2 .btn1{
    padding:7px 13px;
    background-color:rgb(27, 7, 91);
    color: white;
    
   
}
 #base2 .stu marquee{
    color:rgb(27, 7, 91);
    font-size:2rem;
    
}
    